<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
   
    <add key="ValidConfig" value="
    {
        'Website':'http://dalsoft.co.uk/',
        'DatabaseConnectionString': 'Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;',
        'MyAppConfig': 
        {
          'Website':'http://dalsoft.co.uk/',
          'DatabaseConnectionString': 'Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;'
        },
        'ValidList': [
            { 'Website':'http://dalsoft.co.uk/' },
            { 'Website':'http://google.co.uk/' }
        ] 
    }" />
    
    <add key="InvalidConfig" value="{ invalidjson:" />
  
  </appSettings>
</configuration>